:root {
  font-size: 62.5%;
  --color-one: darkslategray;
  --color-two: #ffffff;
  --color-three: #808080;
  --color-four: #c0c0c0;
  --color-six: black;
  --color-seven: #565656;
  --color-eight: orangered;
  --color-nine: rgb(240, 232, 232);
}

*,
::before,
::after {
  font-family: Roboto, Arial, sans-serif, system-ui, "Segoe UI",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-seven);
}

a {
  color: revert;
}

body {
  min-width: 250px;
}

header {
  padding: 40px 30px;
  background-color: var(--color-one);
}

.header-container {
  display: grid;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
}

h1 {
  font-size: 42px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  color: var(--color-two);
}

h2,
h3 {
  color: var(--color-six);
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

header h2 {
  margin-bottom: 20px;
}

.about {
  display: grid;
  gap: 20px;
  padding: 30px;
  background-color: var(--color-two);
}

.about p,
.project-details > p {
  line-height: 1.2;
}

.socials {
  justify-self: right;
  display: flex;
  gap: 15px;
}

.icon {
  width: 27px;
  height: 27px;
}

.icon:hover {
  outline-offset: 2px;
  outline: 2px solid var(--color-eight);
}

main {
  padding: 40px 30px;
  max-width: 1200px;
  margin: auto;
}

main .icon,
footer .icon {
  height: 20px;
  width: 20px;
}

main h2 {
  margin-bottom: 30px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  gap: 30px;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 15px;
  border: 2px solid var(--color-six);
  padding: 15px;
  background-color: var(--color-nine);
}

.screenshot {
  border: 2px solid var(--color-six);
  width: 100%;
}

.project-details {
  display: grid;
  gap: 15px;
}

.project-details > div {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
}

h3 {
  font-weight: 600;
  font-size: 1.8rem;
}

footer {
  text-align: center;
  display: grid;
  justify-items: center;
  padding: 40px 30px 0px;
  background-color: var(--color-one);
}

.contact-info {
  display: grid;
  gap: 20px;
}

.contact-info h2,
.contact-info p {
  color: var(--color-two);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-info > p:last-child {
  margin: 30px 0px 15px;
}

footer a {
  color: var(--color-eight);
}

@media (max-width: 800px) {
  h1 {
    margin: 10px 10px 0px 10px;
  }

  header {
    padding: 0px;
  }

  h2 {
    text-align: center;
  }

  .about {
    margin: 20px;
    text-align: center;
  }

  .socials {
    justify-self: center;
  }

  .card {
    grid-template-columns: minmax(200px, 350px);
  }
}

@media (max-width: 400px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .project-details > p {
    text-align: center;
  }
}
