:root {
  font-size: 62.5%;
  --color-one: darkslategray;
  --color-two: #ffffff;
  --color-three: #808080;
  --color-four: #c0c0c0;
  --color-six: black;
  --color-seven: #565656;
  --color-eight: orangered;
}

*,
::before,
::after {
  font-family: Roboto, Arial, sans-serif, system-ui, "Segoe UI",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-seven);
}

a {
  color: revert;
}

body {
  min-width: 300px;
}

.body-container {
  max-width: 1200px;
  border: 3px solid var(--color-one);
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  padding: 50px 60px;
  background: linear-gradient(
    170deg,
    var(--color-one) 65%,
    var(--color-two) calc(65% + 2px) 100%
  );
}

.hero {
  position: relative;
  display: grid;
  justify-items: center;
}

.hero img {
  width: 350px;
  height: auto;
  box-shadow: 0px 0px 5px var(--color-three);
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
}

h1 {
  position: absolute;
  bottom: 5px;
  font-size: 42px;
  font-weight: 500;
  color: var(--color-two);
  white-space: nowrap;
}

.about {
  display: grid;
  gap: 20px;
  padding: 20px;
  box-shadow: 3px 3px 10px var(--color-three);
  background-color: var(--color-two);
}

h2,
h3 {
  color: var(--color-six);
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

header h2 {
  margin-bottom: 20px;
}

.socials {
  display: flex;
  gap: 15px;
}

header .socials {
  justify-self: right;
}

header .icon {
  width: 23px;
  height: 23px;
}

main {
  padding: 30px;
}

main .icon,
footer .icon {
  height: 20px;
  width: 20px;
}

main h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  justify-content: center;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  border: 2px solid var(--color-six);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow:
    5px 5px 10px var(--color-four),
    -0px -0px 3px var(--color-four);
}

.screenshot {
  width: 100%;
  border-bottom: 2px solid var(--color-six);
}

.project-details {
  display: grid;
  gap: 15px;
  padding: 15px;
}

.project-details > div {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
}

h3 {
  font-weight: 600;
  font-size: 1.8rem;
}

footer {
  text-align: center;
  display: grid;
  justify-items: center;
  padding: 20px;
  background-color: var(--color-one);
}

.contact-info {
  display: grid;
  gap: 20px;
}

.contact-info h2,
.contact-info p {
  color: var(--color-two);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-info .socials .icon {
  height: 25px;
  width: 25px;
}

footer .socials {
  justify-content: center;
}

@media (min-width: 650px) and (max-width: 920px) {
  header {
    position: relative;
    display: block;
    padding: 140px 80px 40px;
  }

  .obstacle {
    float: left;
    height: 160px;
    width: 280px;
  }

  .hero img {
    position: absolute;
    top: -100px;
    left: -40px;
  }

  h1 {
    position: absolute;
    left: 250px;
    top: -80px;
  }

  .about {
    padding: 100px 20px 50px 50px;
  }

  header h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  header .socials {
    display: none;
  }
}

@media (max-width: 650px) {
  header {
    display: grid;
    gap: 20px;
    padding: 30px;
    background: linear-gradient(
      150deg,
      var(--color-one) 40%,
      var(--color-two) calc(40% + 2px) 100%
    );
  }

  .hero img {
    width: 100%;
  }

  .about {
    text-align: center;
    padding: 0px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
  }

  header .socials {
    justify-self: center;
  }

  h2 {
    text-align: center;
  }
}

@media (max-width: 360px) {
  h1 {
    color: var(--color-eight);
  }
}
