:root {
  font-size: 62.5%;
  --color-one: #0891b2;
  --color-two: #ffffff;
  --color-three: #808080;
  --color-four: #c0c0c0;
  --color-six: black;
  --color-seven: #565656;
}

*,
::before,
::after {
  font-family: Roboto, Arial, sans-serif, system-ui, "Segoe UI",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-seven);
}

body {
  min-width: 300px;
}

.body-container {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  padding: 50px 60px;
  background: linear-gradient(
    170deg,
    var(--color-one) 65%,
    var(--color-two) calc(65% + 2px) 100%
  );
}

.hero {
  position: relative;
  display: grid;
  justify-items: center;
}

.hero img {
  width: 350px;
  height: auto;
  box-shadow: 0px 0px 5px var(--color-three);
}

h1,
h2,
h3,
.screenshot {
  font-family: "Playfair Display";
}

h1 {
  position: absolute;
  bottom: 5px;
  font-size: 42px;
  font-weight: 500;
  color: var(--color-two);
}

.about {
  display: grid;
  gap: 20px;
  padding: 30px;
  box-shadow: 3px 3px 10px var(--color-three);
  background-color: var(--color-two);
}

h2,
h3 {
  color: var(--color-six);
}

h2,
.screenshot {
  font-size: 32px;
  font-weight: 500;
}

header h2 {
  margin-bottom: 20px;
}

.socials {
  display: flex;
  gap: 15px;
}

header .socials {
  justify-self: right;
}

header .icon {
  width: 23px;
  height: 23px;
}

main {
  padding: 50px 60px 80px;
}

main .icon,
footer .icon {
  height: 20px;
  width: 20px;
}

main h2 {
  margin-bottom: 15px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  box-shadow:
    5px 5px 10px var(--color-four),
    -0px -0px 3px var(--color-four);
}

.screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-two);
  width: 100%;
  min-height: 210px;
  padding: 30px;
}

.card:nth-of-type(1) .screenshot {
  background-color: #9e1c1c;
}

.card:nth-of-type(2) .screenshot {
  background-color: #7c75ca;
}
.card:nth-of-type(3) .screenshot {
  background-color: #5e8f4d;
}
.card:nth-of-type(4) .screenshot {
  background-color: #c363b4;
}
.card:nth-of-type(5) .screenshot {
  background-color: #d88f39;
}
.card:nth-of-type(6) .screenshot {
  background-color: #4ba2d2;
}

.project-details {
  display: grid;
  gap: 15px;
  padding: 20px;
}

.project-details > div {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
}

h3 {
  font-weight: 500;
  font-size: 1.8rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  padding: 50px 60px;
  background-color: var(--color-one);
}

.contact-info {
  flex: 1;
  display: grid;
  gap: 20px;
}

.contact-info h2,
.contact-info p {
  color: var(--color-two);
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-info .socials .icon {
  height: 25px;
  width: 25px;
}

footer picture {
  flex: 1.5;
}

footer picture img {
  max-width: 100%;
  height: auto;
}

@media (650px <= width < 920px) {
  header {
    position: relative;
    display: block;
    padding: 140px 80px 40px;
  }

  .obstacle {
    float: left;
    height: 160px;
    width: 280px;
  }

  .hero img {
    position: absolute;
    top: -100px;
    left: -40px;
  }

  h1 {
    position: absolute;
    left: 250px;
    top: -80px;
  }

  .about {
    padding: 100px 20px 50px 50px;
  }

  header h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  header .socials {
    display: none;
  }

  main {
    padding: 50px 80px 200px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    padding: 40px 40px 50px;
  }

  footer picture {
    flex: 1;
  }
}

@media (width < 650px) {
  header {
    display: grid;
    gap: 20px;
    padding: 30px;
    background: linear-gradient(
      150deg,
      var(--color-one) 40%,
      var(--color-two) calc(40% + 2px) 100%
    );
  }

  .hero img {
    width: 100%;
  }

  .about {
    text-align: center;
    padding: 0px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
  }

  header .socials,
  footer .socials {
    justify-self: center;
  }

  main {
    padding: 30px 30px 100px;
  }

  h2 {
    text-align: center;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  footer {
    display: block;
    padding: 0px;
  }

  footer h2 {
    text-align: center;
  }

  .contact-info {
    padding: 30px 30px 70px;
    gap: 30px;
  }

  .contact .icon {
    display: none;
  }
}
